<html>
    <body>
        <div class="section">
        <h2>General Details</h2>
        <ul>
            <li>Start Time: {{ main.start_time }}</li>
            <li>End Time: {{ main.end_time }}</li>
            <li>Device ID: {{ main.device_id }}</li>
            <li>Subscriber ID: {{ main.subscriber_id }}</li>
            <li>SIM ID: {{ main.sim_id }}</li>
        </ul>
        </div>
        <div class="section">
        <h2>Name</h2>
        <ul>
            <li>Facility Name: {{ section_name.facility_name }}</li>
            <li>District: {{ section_name.facility_district }}</li>
        </ul>
        </div>
        <div class="section">
        <h2>Contact Details</h2>
        <ul>
            <li>Postal Address: {{ section_contact.postal_address }}</li>
            <li>Phone Number: {{ section_contact.phone_number }}</li>
            <li>Email: {{ section_contact.email }}</li>
        </ul>
        </div>
        <div class="section">
        <h2>Respondent</h2>
        <ul>
            <li>Name: {{ section_respondent.respondent_name }}</li>
            <li>Position: {{ section_respondent.respondent_position }}</li>
        </ul>
        </div>
        <div class="section">
        <h2>Location</h2>
        <ul>
            <li>Coordinates: {{ section_location.facility_location }}</li>
            <li>Distance to nearest town: {{ section_location.distance_to_town }}</li>
            <li>Town Name: {{ section_location.banket }}</li>
        </ul>
        </div>
        <div class="section">
        <h2>Photos</h2>
        {% if section_photos.photo1 %}
            <img src="{% url openrosa_media main.device_id section_photos.photo1 %}"/>
        {% endif %}
        {% if section_photos.photo2 %}
            <img src="{% url openrosa_media main.device_id section_photos.photo2 %}"/>
        {% endif %}
        {% if section_photos.photo3 %}
            <img src="{% url openrosa_media main.device_id section_photos.photo3 %}"/>
        {% endif %}
        </div>
        <div class="section">
        <h2>General</h2>
        <ul>
            <li>Type of Facility: {{ section_general.type_of_facility }}</li>
            <li>Other: {{ section_general.type_other }}</li>
            <li>Description: {{ section_general.description }}</li>
        </ul>
        </div>
        <div class="section">
        <h2>Services</h2>
        <ul>
            <li>Services: {{ section_services.facility_services }}</li>
            <li>Other Services: {{ section_services.facility_services_other }}</li>
            <li>Facility Coverage: {{ section_services.facility_coverage }}</li>
            <li>Nr Patients: {{ section_services.facility_nr_patients }}</li>
            <li>Nr Nurses: {{ section_services.facility_nurses }}</li>
            <li>Nr Doctors: {{ section_services.facility_doctors }}</li>
        </ul>
        </div>
        <div class="section">
        <h2>Medicines List</h2>
        <ul>
            <li>Is a medicines list available?: {{ section_medicines_list.list_available }}</li>
            {% if section_medicines_list.photo1 %}
                <img src="{% url openrosa_media main.device_id section_medicines_list.photo1 %}"/>
            {% endif %}
            {% if section_medicines_list.photo2 %}
                <img src="{% url openrosa_media main.device_id section_medicines_list.photo2 %}"/>
            {% endif %}
            {% if section_medicines_list.photo3 %}
                <img src="{% url openrosa_media main.device_id section_medicines_list.photo3 %}"/>
            {% endif %}
        </ul>
        </div>
        <div class="section">
        <h2>Comments</h2>
        <ul>
            <li>Other comments: {{ section_comments.comments }}</li>
        </ul>
        </div>
    </body>
</html>
