<html>
    <body>
        <div class="section">
        <h2>General Details</h2>
        <ul>
            <li>Start Time: {{ main.start_time }}</li>
            <li>End Time: {{ main.end_time }}</li>
            <li>Device ID: {{ main.main.device_id }}</li>
            <li>Subscriber ID: {{ main.subscriber_id }}</li>
            <li>SIM ID: {{ main.sim_id }}</li>
        </ul>
        </div>
        <div class="section">
        <h2>Questions</h2>
        <p>What is the respondent's name?</p>
        {% if main.A01 %}
        <a href="{% url openrosa_media main.device_id main.A01 %}">Hear Recording</a>
        {% else %}<p>No response</p>
        {% endif %}

        <p>Why have you visited the facility today?</p>
        {% if main.A02 %}
        <a href="{% url openrosa_media main.device_id main.A02 %}">Hear Recording</a>
        {% else %}<p>No response</p>
        {% endif %}

        <p>How long did the journey to the facility take?</p>
        {% if main.A03 %}
        <a href="{% url openrosa_media main.device_id main.A03 %}">Hear Recording</a>
        {% else %}<p>No response</p>
        {% endif %}

        <p>What would you say are the major problem illnesses in your community?</p>
        {% if main.A04 %}
        <a href="{% url openrosa_media main.device_id main.A04 %}">Hear Recording</a>
        {% else %}<p>No response</p>
        {% endif %}

        <p>What are the major difficulties that you experience with regards to your health situation?</p>
        {% if main.A05 %}
        <a href="{% url openrosa_media main.device_id main.A05 %}">Hear Recording</a>
        {% else %}<p>No response</p>
        {% endif %}

        <p>What has your experience been of this facility in meeting your needs, including how you think this could be improved?</p>
        {% if main.A06 %}
        <a href="{% url openrosa_media main.device_id main.A06 %}">Hear Recording</a>
        {% else %}<p>No response</p>
        {% endif %}

        <p>Are medicines generally available at local health facilities? If not, what do you think could be done to improve this?</p>
        {% if main.A07 %}
        <a href="{% url openrosa_media main.device_id main.A07 %}">Hear Recording</a>
        {% else %}<p>No response</p>
        {% endif %}

        <p>What was your experience of getting medicines the last time either yourself or a member of your family was sick?</p>
        {% if main.A08 %}
        <a href="{% url openrosa_media main.device_id main.A08 %}">Hear Recording</a>
        {% else %}<p>No response</p>
        {% endif %}

        <p>Do you think the medicines available at this health facility are affordable? If not, then please elaborate with examples.</p>
        {% if main.A09 %}
        <a href="{% url openrosa_media main.device_id main.A09 %}">Hear Recording</a>
        {% else %}<p>No response</p>
        {% endif %}

        <p>What costs do you incur in order when coming to this facility for medicines?</p>
        {% if main.A10 %}
        <a href="{% url openrosa_media main.device_id main.A10 %}">Hear Recording</a>
        {% else %}<p>No response</p>
        {% endif %}

        <p>Is there anything else that you want to share that has not been covered in the above questions?</p>
        {% if main.A14 %}
        <a href="{% url openrosa_media main.device_id main.A14 %}">Hear Recording</a>
        {% else %}<p>No response</p>
        {% endif %}

        {% if main.A11 %}
        <img src="{% url openrosa_media main.device_id main.A11 %}"/>
        {% endif %}

    </body>
</html>
