<html>
    <body>
        <div class="section">
        <h2>Metadata</h2>
        <ul>
            <li>Start Time: {{ main.start_time }}</li>
            <li>End Time: {{ main.end_time }}</li>
            <li>Device ID: {{ main.device_id }}</li>
            <li>Subscriber ID: {{ main.subscriber_id }}</li>
            <li>SIM ID: {{ main.sim_id }}</li>
        </ul>
        </div>
        <div class="section">
        <h2>Feedback</h2>
        <ul>
            <li>Report Title: {{ main.report_title }}</li>
            <li>District Coordinator: {{ main.district_coordinator }}</li>
            <li>Health Facility: {{ main.health_facility_name }}</li>
            <li>Last Monitoring Date: {{ main.last_monitoring_date }}</li>
            <li>Report Period: {{ main.report_period }}</li>
            <li>Campaign Activites: {{ main.campaign_activities }}</li>
            <li>Advocacy Activites: {{ main.advocacy_activities }}</li>
        </ul>
        </div>
    </body>
</html>
