{% extends "admin/change_list.html" %}
{% load adminmedia admin_list i18n %}
{% load i18n %}

{% block object-tools %}
{% if not change %}{% if not is_popup %}
  <ul class="object-tools">
    <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
    <li><a href="{% url admin:openrosa_orform_upload_form %}" class="importlink">Upload Form</a></li>
    {% if has_absolute_url %}
        <li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">
            {% trans "View on site" %}</a>
        </li>
    {% endif%}
  </ul>
{% endif %}{% endif %}
{% endblock %}
