*.pyc
.*.swp
*.class
*.db
bin/
server/tendai/openrosa/submissions/
server/tendai/openrosa/orforms/
server/tendai/static
server/tendai/media
odk-collect/local.properties
#PIP build directory
server/deploy/build
#Emacs autosave files
*~
#Compiled translations
*.mo