{% extends "base.html" %}


{% block extrahead %}
    <script type="text/javascript">

    function callAjax() {
        $.ajax({
            type: "GET",
            url: "/stories/",
            dataType: "html",
            success: function(xml) {
                $(".ticker").html(xml);
            },
            error: function(request, status, error) {
            }
        });    
    };

    $(document).ready(function() { 
        callAjax();
        setInterval(callAjax, 5000);
    });

    </script>
{% endblock extrahead %}
{% block home_active %}active{% endblock %}

{% block page_name %} Daily Stories {% endblock page_name %}
{% block tagline %} Stories across all countries {% endblock tagline %}
{% block main_content_title %}{% endblock main_content_title %}

{% block main_content %}
    <div id="storylist">
        <div class="ticker">
        </div>
    </div>
{% endblock main_content %}

{% block secondary_content %}
    <h2>Download Android App</h2>
    <a href="{{ STATIC_URL }}tendai.apk">Download (v 0.1.12)</a>
{% endblock secondary_content %}
